.heading-container{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 12px 255px;
    padding-bottom: 100px;
    /* margin-bottom: 200px; */
}
.navigation {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    font-size: 18px;
    gap: 12px;
}

a {
    text-decoration: none;
    color: #e5e7eb
}

h1 {
    font-size: 48px;
    font-weight: 800;
    font-family: Hero-Bold, sans-serif;
    color: #f9faf8;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}
.heading-info {
    display: flex;
    gap: 24px;
}

.signup-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.signup-container button {
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border-style: none;
    flex: initial;
    background-color: #3882F6;
    color: #e5e7eb;
}

.signup-container p {
    color: #e5e7eb;
    font-size: 18px;
    flex: 1 1 auto;
}
.image-container {
    width: 700px;
    height: 200px;
    background-color: grey;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.image-container p {
    color: #f9faf8;
}

.randominfo-container {

}

.cards-container {

}

.card {

}

.square{
    height: 100px;
    width: 100px;
    border: 3px solid #3882F6;
    border-radius: 15px;
}

.quote-container {

}

.call-to-action {

}

.call-container {

}

.footer {

}

@font-face {
    font-family: Hero-Bold;
    src: url(fonts/Hero-Bold.ttf);
}

@font-face {
    font-family: Hero-Light;
    src: url(fonts/Hero-Light.ttf);
}

@font-face {
    font-family: Hero-Regular;
    src: url(fonts/Hero-Regular.ttf);
}